.product-slider {
  padding: 2rem 0;

}

.slider-heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #333;
}

.product-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 100%;
  aspect-ratio: 1 / 1.3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex: 1;
}

.product-card h3 {
  font-size: 1rem;
  margin: 1rem;
  color: #333;
}

.product-card:hover {
  transform: translateY(-5px) scale(1.03);
}

.splide__slide.is-active .product-card {
  transform: scale(1.05);
  z-index: 2;
}

@media (max-width: 768px) {
  .product-card h3 {
    font-size: 0.95rem;
  }
}
